.logo{
position: absolute;
width: 194px;
height: 55px;
left: 172px;
top: 20px;
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 55px;  
color: #000000;
}

.signin{
    position:relative;
font-size:20px;
text-align: center;
    position: fixed;
    width: 285px;
    height: 285px;
    left: 200px;
    top: 200px;
    border-radius: 100%;
    background: #E3EEFF;
}

.signup{
    position:relative;
    font-size:20px;
text-align: center;
    position: fixed;
    width: 285px;
    height: 285px;
    left: 600px;
    top: 200px;
    border-radius: 100%;
    background: #E3EEFF;
}

.guest{
    position:relative;
    font-size:20px;
text-align: center;
    position: fixed;
    width: 285px;
    height: 285px;
    left: 1000px;
    top: 200px;
    border-radius: 100%;
    background: #E3EEFF;
}

